.card-img {
    height: 15vw;
    object-fit: fill
}
.single-card {
    height: 90vh
}
.card-img-singular {
    height: 35vw
}
.user-header {
    display: flex;
    text-align: center;
    justify-content: center;
}